<nav class="header">
  <div class="container">
    <!-- Left elements -->
    <div class="left-elements d-flex align-items-center">

      <div class="burger-menu">
        <label class="burger" for="burger">
          <input type="checkbox" id="burger" (change)="toggleSidebar()" [checked]="sidebarOpen">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <a class="logo" routerLink="/">Admin Panel</a>

      <div class="services">
        <a class="service" routerLink="/clicker" routerLinkActive="service-selected">Clicker</a>
<!--        <a class="service" routerLink="/esport" routerLinkActive="service-selected">E-Sport</a>-->
<!--        <a class="service" routerLink="/clicker" routerLinkActive="service-selected">Clicker</a>-->
      </div>
    </div>
    <!-- Left elements -->

    <!-- Right elements -->
    <div *ngIf="username">
      <div class="right-elements dropdown-center">
        <a class="profile align-items-center dropdown-toggle" data-bs-toggle="dropdown">
          <div class="justify-content-between d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 512 512"><path d="M406.5 399.6C387.4 352.9 341.5 320 288 320H224c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3h64c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z"/></svg>
            <div class="username">{{ username }}</div>
          </div>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Profile</a></li>
            <li><a class="dropdown-item logout" (click)="logout()">Logout</a></li>
          </ul>
        </a>
      </div>
    </div>

    <!-- Right elements -->
  </div>

  <!-- Sidebar -->
  <div class="sidebar" *ngIf="sidebarOpen">
    <div class="sidebar-services">
      <a class="sidebar-service" (click)="closeSidebar()" routerLink="/clicker" routerLinkActive="service-selected">Clicker</a>
<!--      <a class="sidebar-service" (click)="closeSidebar()" routerLink="/casino" routerLinkActive="service-selected">Casino</a>-->
<!--      <a class="sidebar-service" (click)="closeSidebar()" routerLink="/esport" routerLinkActive="service-selected">E-Sport</a>-->
    </div>
  </div>
  <div class="overlay" *ngIf="sidebarOpen"></div>
  <!-- Sidebar -->
</nav>
