$header-height: 4rem;
$sidebar-width: 15rem;

.header {
  color: var(--dark-color);
  background-color: var(--yellow-color);
  margin-bottom: 1rem;
  height: $header-height;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;

  a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 700;
  }
}

.left-elements {

  .logo {
    color: var(--dark-color);
    font-weight: 800;
    margin: 0.3125rem 1rem 0.3125rem 0;
    font-size: 24px;
    text-decoration: none;
  }

  .services {
    display: flex;
    align-items: center;

    @mixin selected() {
      border-radius: 0.3125rem;
      color: var(--dark-color);
      background: #eea51c;
    }

    .service {
      font-size: 18px;
      padding: .5rem;
      margin-left: 0.5rem;
      transition: 0.4s;

      &:not(:last-child) {
        margin-right: 0.3rem;
      }

      &:hover {
        @include selected()
      }
    }

    .service-selected {
      @include selected()
    }
  }
}

.right-elements {
  .profile {
    cursor: pointer;

    svg {
      fill: var(--dark-color);

      transition: transform 0.5s;

      &:hover {
        transform: scale(1.2);
      }
    }

    .username {
      font-weight: 700;
      font-size: 18px;
      padding-left: 0.4rem;
    }

    .dropdown-menu {
      padding: 0;
      inset: calc($header-height - 47px) auto auto 0 !important;
      background: var(--dark-color);
      border: 2px solid var(--yellow-color);
      border-top: none;
      border-radius: 0 0 10px 10px;

      a {
        color: var(--yellow-color);
        font-weight: 600;

        &:hover {
          background: var(--yellow-color);
          color: var(--dark-color);
        }
      }

      .logout {
        border-radius: 0 0 7px 7px;
      }
    }
  }

  .dropdown-toggle::after {
    content: none;
  }

}

.burger-menu {
  margin-right: 1rem;

  .burger {
    position: relative;
    width: 30px;
    height: 24px;
    background: transparent;
    cursor: pointer;
    display: block;
  }

  .burger input {
    display: none;
  }

  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  .burger span:nth-of-type(1) {
    top: 0;
    transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0;
    left: 0;
  }

  .burger input:checked ~ span:nth-of-type(2) {
    width: 0;
    opacity: 0;
  }

  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 0;
  }
}

.sidebar {
  position: fixed;
  z-index: 1000;
  left: 0;
  width: $sidebar-width;
  top: $header-height;
  height: 100%;
  background: var(--gray-color);
  transition: left 0.3s ease-in-out;

  .sidebar-services {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;

    @mixin selected() {
      border-radius: 0.3125rem;
      color: var(--dark-color);
      background: #eea51c;
    }

    .sidebar-service {
      font-size: 18px;
      padding: .5rem;
      transition: 0.4s;

      text-decoration: none;
      color: var(--yellow-color);
      font-weight: 700;
      margin-top: 1rem;

      &:hover {
        @include selected()
      }
    }

    .service-selected {
      @include selected()
    }

  }
}

.overlay {
  position: absolute;
  top: $header-height;
  right: 0;
  width: calc(100% - $sidebar-width);
  height: calc(100% - $header-height);
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0.5rem 1.5rem;
  }

  .services {
    display: none !important;
  }

  .username {
    display: none;
  }

  svg {
    height: 28px;
    width: 28px;
  }
}

@media (min-width: 768px) {
  .sidebar, .overlay {
    display: none !important;
  }

  .burger-menu {
    display: none;
  }
}
