<div (click)="selectMatch(match)" class="match-item" *ngFor="let match of matches">

  <div class="match-item-top">
    <div (click)="selectTournament(match.tournament); $event.stopPropagation()">{{ match.tournament.discipline + ". " + match.tournament.title }}</div>
    <div>Match Winner</div>
  </div>

  <div class="match-item-bottom">

    <div class="match-left">
      <ng-container *ngIf="match.dateText !== 'LIVE'; else liveText">
        <div class="match-date">
          <div class="match-date-text">{{ match.dateText }}</div>
        </div>
      </ng-container>
      <ng-template #liveText>
        <div class="match-date d-flex align-items-center">
          <div class="match-date-text">Map {{ match.matchMaps.length > 0 ? match.matchMaps.length : 1 }}</div>
          <div class="match-date-live-text">{{ match.dateText }}</div>
        </div>
      </ng-template>

      <div class="match-participants">
        <div class="match-participant">
          <img [ngSrc]="match.participant1.image" width="24" height="24" alt="">
          <span>{{ match.participant1.name }}</span>
        </div>
        <span class="dash">-</span>
        <div class="match-participant">
          <img [ngSrc]="match.participant2.image" width="24" height="24" alt="">
          <span>{{ match.participant2.name }}</span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!match.winnerMatchMarkets.closed; else closedMarkets">
      <div class="match-right">
        <div class="winner-market-row d-flex justify-content-between align-items-center">
          <div *ngFor="let market of match.winnerMatchMarkets.markets; let i = index"
               class="winner-market"
               [class.winner-market-selected]="selectedMarket !== null && selectedMarket.market.id === market.id"
               [ngClass]="{'odds-effect-increase': market.oddsIncreased === true, 'odds-effect-decrease': market.oddsIncreased === false}"
               (click)="selectMarket(market, match); $event.stopPropagation()"
          >
            <span>{{ i + 1 }}</span>
            <span class="odds">{{ market.odds }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #closedMarkets>
      <div class="match-right">
        <div class="winner-market-row d-flex justify-content-between align-items-center">
          <div *ngFor="let market of match.winnerMatchMarkets.markets"
               class="winner-market winner-market-closed">
            <strong>–</strong>
          </div>
        </div>
      </div>
    </ng-template>


  </div>

</div>
