@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --white-color: #ffffff;
  --dark-color: #000000;
  --gray-color: #272a2f;
  --dark-gray-color: #1c1f24;
  --light-gray-color: #8b8e93;
  --yellow-color: #f3ba2f;
  --yellow-shadow: #fab82299;
}

html, body {
  height: 100%;
}

app-clicker-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: var(--dark-color);
  color: var(--white-color);
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
}

.text-yellow {
  color: var(--yellow-color);
}

.btn-primary {
  background-color: var(--yellow-color);
  color: var(--dark-color);
  border: none;
  font-weight: 700;
  letter-spacing: 2px;

  transition: .4s ease;

  &:hover {
    background-color: var(--gray-color);
    color: var(--yellow-color);
  }
}

.btn-shadow {
  &:hover {
    box-shadow: 0 0 35px var(--yellow-shadow);
  }
}

.btn-gray {
  background-color: var(--gray-color);
  color: var(--yellow-color);
  border: none;
  font-weight: 700;
  letter-spacing: 2px;
  transition: .4s ease;

  &:hover {
    background-color: var(--gray-color);
    color: var(--yellow-color);
  }
}

.btn-green {
  background: rgb(78, 171, 88);
  background: linear-gradient(0deg, rgba(78, 171, 88, 1) 0%, rgba(78, 171, 148, 1) 100%);
  color: var(--white-color);
  border: none;
  font-weight: 700;
  letter-spacing: 2px;

  transition: 0.4s ease;

  &:hover {
    background: rgb(71, 130, 77);
    background: linear-gradient(0deg, rgba(71, 130, 77, 1) 0%, rgba(67, 126, 112, 1) 100%);
  }
}

.link {
  color: var(--yellow-color);

  &:hover {
    color: var(--yellow-shadow);
  }
}

.btn-disabled {
  pointer-events: none;
  background-color: var(--yellow-shadow);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
