<nav class="header">
  <div class="container">
    <!-- Left elements -->
    <div class="left-elements d-flex align-items-center">

      <div class="burger-menu">
        <label class="burger" for="burger">
          <input type="checkbox" id="burger" (change)="toggleSidebar()" [checked]="sidebarOpen">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <a class="logo" routerLink="/">VCasino</a>

      <div class="services">
        <a class="service" routerLink="/casino" routerLinkActive="service-selected">Casino</a>
        <a class="service" routerLink="/esport" routerLinkActive="service-selected">E-Sport</a>
        <a class="service" routerLink="/clicker" routerLinkActive="service-selected">Clicker</a>
      </div>
    </div>
    <!-- Left elements -->

    <!-- Right elements -->
    <ng-container *ngIf="username && displayUser; else btnTemplate">
      <div class="user-profile-wrapper dropdown-center">
        <div class="user-profile dropdown-toggle" data-bs-toggle="dropdown">
          <div class="user-profile-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 0 24 24" fill="none">
              <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="user-profile-right">
            <div class="username">{{ username }}</div>
            <div class="balance">
              <span class="balance-value">{{ balance }}</span>
              <img ngSrc="vdollar-dark.webp" alt="vdollar" width="25" height="15">
            </div>
          </div>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Profile</a></li>
            <li><a class="dropdown-item logout" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </ng-container>

    <ng-template #btnTemplate>
      <div class="right-elements login-buttons d-flex">
        <a *ngIf="!hideRegisterBtn" class="btn login-btn" routerLink="/register">Join now</a>
        <a *ngIf="!hideLoginBtn" class="btn login-btn" routerLink="/login">Login</a>
      </div>
    </ng-template>
    <!-- Right elements -->
  </div>

  <!-- Sidebar -->
  <div class="sidebar" *ngIf="sidebarOpen">
    <div class="sidebar-services">
      <a class="sidebar-service" (click)="closeSidebar()" routerLink="/casino" routerLinkActive="service-selected">Casino</a>
      <a class="sidebar-service" (click)="closeSidebar()" routerLink="/esport" routerLinkActive="service-selected">E-Sport</a>
      <a class="sidebar-service" (click)="closeSidebar()" routerLink="/clicker" routerLinkActive="service-selected">Clicker</a>
    </div>
  </div>
  <div class="overlay" *ngIf="sidebarOpen"></div>
  <!-- Sidebar -->
</nav>
