nav {
  color: var(--dark-color);
  background-color: var(--yellow-color);
  margin-bottom: 1rem;
}

svg {
  fill: var(--dark-color);

  transition: transform 0.5s;

  &:hover {
    transform: scale(1.5);
  }
}

.username {
  padding-left: 0.3rem;
  font-weight: 600;
}

.logo {
  color: var(--dark-color);
  font-weight: 800;
}

.profile {
  cursor: pointer;

  ul {
    margin-top: 1rem;
    padding: 0;
    background: var(--dark-color);
    border: 2px solid var(--yellow-color);
    border-top: none;
    border-radius: 0 0 10px 10px;

    a {
      color: var(--yellow-color);
      font-weight: 600;

      &:hover {
        background: var(--yellow-color);
        color: var(--dark-color);
      }
    }

    .logout {
      border-radius: 0 0 7px 7px;
    }
  }
}

.dropdown-toggle::after {
  content: none;
}

.services {
  .service {
    font-weight: 700;
    color: var(--dark-color);
  }
}
