<div class="search mb-3">
  <h2 class="text-center">Search Account</h2>
  <app-search class="d-flex justify-content-center"
              [options]="searchOptions"
              (searchEvent)="fetchAccountStatistics($event)">
  </app-search>
  <div class="search-history mt-2">
    <button class="btn"
            *ngFor="let information of searchHistory"
            [class]="currentAccountInformation?.username === information.username ? 'btn-primary-no-hover' : 'btn-gray'"
            (click)="switchAccountInformationItem(information)">
      {{ information.username }}
    </button>
  </div>
</div>

<div *ngIf="currentAccountInformation" class="account-information-wrapper mb-4">
  <h2 class="text-center mb-3">Account#{{ currentAccountInformation.id }}</h2>

  <div class="account-information">

    <div class="account-information-content">
      <div *ngFor="let item of accountInformationData" class="information-item">
        <div class="statistics-item-label fw-bold">{{ item.label }}</div>
        <div class="statistics-item-value">{{ item.value }}</div>
      </div>
    </div>

    <div class="account-information-chart">
      <app-chart [label]="'Account#' + currentAccountInformation.id + ' Clicks'"
                 [chartData]="currentAccountInformation.clicksChart"
                 [yCallback]="numberFormatYTicksCallback"
                 (chooseOptionEvent)="selectChartOption($event)"
                 [type]="'line'">
      </app-chart>

      <div class="account-options">
        <div class="add-coins">
          <input class="form-control" type="number" [(ngModel)]="addCoinsValue" placeholder="Amount">
          <button class="btn btn-primary" (click)="addCoins()">Add coins</button>
        </div>
        <button class="btn freeze-btn mt-2"
                [class]="currentAccountInformation.frozen ? 'btn-success' : 'btn-danger'"
                (click)="changeFrozenStatus()">{{ currentAccountInformation.frozen ? 'UnFreeze Account' : 'Freeze Account' }}
        </button>
      </div>
    </div>

  </div>
</div>

<div class="top10 mb-3">
  <h2 class="mb-3 text-center">Top 10 Accounts By Net Worth</h2>
  <div *ngFor="let account of top10Accounts"
       (click)="fetchAccountStatistics({option: 'ID', value: account.id + ''})"
       class="top10-item">
    <div class="top10-username">{{ account.username }}</div>
    <div class="top10-net-worth">{{ account.netWorth }}</div>
  </div>
</div>
