.upgrades {
  padding: .5rem;
}

.section-bar {
  .section-bar-items {
    background-color: var(--gray-color);
    color: var(--light-gray-color);
    padding: 5px;

    .section-bar-item {
      cursor: pointer;
      text-align: center;
      padding: .5rem;
      border-radius: .5rem;
      width: 100%;
      font-weight: 700;
    }

    .section-bar-item-active {
      color: var(--white-color);
      background-color: var(--dark-gray-color);
    }
  }
}

.upgrade-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .upgrade-item {
    cursor: pointer;
    font-size: 12px;
    width: 49%;
    border-radius: 15px;
    background: var(--gray-color);
    margin-bottom: 1rem;

    .upgrade-item-top {
      padding: 8px;
      .upgrade-item-image {
        position: relative;
        margin-right: 10px;
        img {
          border-radius: 12px;
        }
      }

      .upgrade-item-locked-icon {
        fill: var(--white-color);
        height: 24px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        z-index: 3;

        svg {
          height: 24px;
          width: 24px;
          fill: var(--white-color);
        }
      }

      .upgrade-item-profit {
        .upgrade-item-profit-title {
          font-size: 10px;
          color: var(--light-gray-color);
        }

        .upgrade-item-profit-value {
          font-weight: 700;
          img {
            margin-right: 6px;
          }
        }
      }
    }

    .upgrade-item-bottom {
      padding: 8px 12px;
      border-top: 1px solid #34383f;
      font-weight: 700;

      .upgrade-item-level {
        min-width: 40px;
        padding-right: 6px;
      }

      .upgrade-item-level-divider {
        background-color: #34383f;
        margin-right: 12px;
        width: 1px;
      }

      .upgrade-item-price {
        img {
          margin-right: 6px;
        }
      }
    }
  }

  .unavailable {
    background: #272a2f80;
    cursor: default;

    .upgrade-item-image {
      position: relative;

      &::before {
        background-color: #34383fcc;
        border-radius: 12px;
        content: "";
        display: block;
        height: 68px;
        left: -4px;
        overflow: hidden;
        position: absolute;
        top: -4px;
        width: 68px;
        z-index: 2;
      }
    }
  }

}

.gray-filter {
  img {
    filter: grayscale(1);
  }
  span {
    color: #fff6;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #272a2fb3;
  z-index: 8;
  display: flex;
  justify-content: center;
}

.upgrade-modal {
  position: fixed;
  z-index: 9;
  bottom: 0;
  width: 100%;
  max-width: 744px;

  .modal-container {
    position: relative;
    color: white;
    padding: 20px;
    background: var(--dark-gray-color);
    box-shadow: 0 -4px 64px var(--yellow-shadow);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .close-btn {
      color: #4e4f50;
      cursor: pointer;
      padding: 16px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 4;

      .icon {
        align-items: center;
        display: flex;
        justify-content: center;

        svg {
          height: 32px;
          width: 32px;
        }
      }
    }

    .modal-title {
      font-size: 28px;
      font-weight: 600;
      line-height: 32px;
      margin: 12px 0;
      position: relative;
    }

    .modal-profit {
      .modal-profit-label {
        font-size: 12px;
      }

      .modal-profit-values {
        font-weight: 700;
        font-size: 12px;

        img {
          margin-right: 3px;
        }

        span {
          margin: 0 10px;
        }
      }
    }

    .modal-price {
      font-weight: 700;
      font-size: 24px;
      margin: 20px 0;

      img {
        margin-right: 6px;
      }
    }

    .modal-btn {
      font-size: 20px;
      font-weight: 700;
      padding: 20px;
      width: 100%;
    }
  }
}
