.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 767px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

.user-information {
  .information-items {
    width: 100%;
    max-width: 500px;

    .information-items-history {
      display: flex;
      flex-wrap: wrap;

      button {
        margin-right: .5rem;
        margin-bottom: .5rem;

        &:hover {

        }
      }
    }

    .information-item {
      display: flex;
      padding: 5px;
      justify-content: space-between;

      &:hover {
        background: var(--gray-color);
      }
    }
  }
}

.latest-user-item {
  padding: 10px;
  color: var(--dark-color);
  background: var(--yellow-color);
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}
