.tasks {
  padding: .5rem;

  .tasks-title {
    font-weight: 700;
    font-size: 24px;
    margin: 1rem 0;
  }

  .daily-rewards {

    .daily-reward-items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;

      .daily-reward-item {
        cursor: default;
        text-align: center;
        background: var(--gray-color);
        padding: 10px;
        border-radius: 8px;
        opacity: 0.5;
        font-weight: 700;

        .daily-reward-item-icon {
          margin: 5px 0;
        }
      }

      .available {
        opacity: 1;
        box-shadow: 0 -4px 64px rgb(78, 171, 88);
      }

      .received {
        opacity: 1;
        background: rgb(78, 171, 88);
        background: linear-gradient(0deg, rgba(78, 171, 88, 1) 0%, rgba(78, 171, 148, 1) 100%);
      }
    }

    @media (max-width: 768px) {
      .daily-reward-items {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @media (max-width: 375px) {
      .daily-reward-items {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .daily-rewards-btn {
      font-size: 24px;
      width: 100%;
    }
  }

  .list-of-tasks {
    .task-items {
      .task-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background: var(--gray-color);
        margin-bottom: 10px;
        border-radius: 20px;

        .task-body {
          margin-left: 10px;
        }

        .task-reward {
          display: flex;
          align-items: center;

          .task-reward-value {
            margin-left: 5px;
            font-weight: 600;
          }
        }

        .task-status {
          justify-content: end;
          margin-right: 10px;
        }

        .right-arrow {
          cursor: pointer;
          width: 15px;
          height: 15px;
          border-top: 2px solid #8b8e93;
          border-right: 2px solid #8b8e93;
          rotate: 45deg;
        }
      }
    }
  }
}

