<form [formGroup]="registerForm" (ngSubmit)="register()" class="text-color-primary mb-3">

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
    <div *ngIf="registerForm.controls['name']['invalid']
                  && (registerForm.controls['name']['dirty'] || registerForm.controls['name']['touched'])"
         class="text-danger mt-2">
      <div *ngIf="registerForm.controls['name'].errors?.['maxlength']">
        Name must be no more than 100 characters long
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">Username <span class="text-yellow">*</span></label>
    <input type="text" class="form-control" id="username" formControlName="username">
    <div *ngIf="registerForm.controls['username']['invalid']
                  && (registerForm.controls['username']['dirty'] || registerForm.controls['username']['touched'])"
         class="text-danger mt-2">
      <div *ngIf="registerForm.controls['username'].errors?.['required']">
        Username cannot be empty
      </div>
      <div *ngIf="registerForm.controls['username'].errors?.['minlength']">
        Username must be at least 2 characters long
      </div>
      <div *ngIf="registerForm.controls['username'].errors?.['maxlength']">
        Username must be no more than 16 characters long
      </div>
      <div *ngIf="registerForm.controls['username'].errors?.['pattern']">
        Username can only contain english letters, numbers and underscores
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email <span class="text-yellow">*</span></label>
    <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
    <div *ngIf="registerForm.controls['email']['invalid']
                  && (registerForm.controls['email']['dirty'] || registerForm.controls['email']['touched'])"
         class="text-danger mt-2">
      <div *ngIf="registerForm.controls['email'].errors?.['required']">
        Email cannot be empty
      </div>
      <div *ngIf="registerForm.controls['email'].errors?.['pattern']">
        Invalid email
      </div>
    </div>
  </div>

  <div>
    <label for="password" class="form-label">Password <span class="text-yellow">*</span></label>
    <input type="password" class="form-control" id="password" formControlName="password">

    <div class="password-requirements mt-2"
         *ngIf="registerForm.controls['password']['touched'] || registerForm.controls['password']['dirty']">
      <ul>
        <li [ngClass]="!registerForm.value.password ||
            (registerForm.controls['password'].errors
              && registerForm.controls['password'].errors!['minLength']) ? 'text-danger' : 'text-success'">
          Min length 12
        </li>
        <li [ngClass]="!registerForm.value.password ||
            (registerForm.controls['password'].errors
              && registerForm.controls['password'].errors!['noNumber']) ? 'text-danger' : 'text-success'">
          Numbers
        </li>
        <li [ngClass]="!registerForm.value.password ||
            (registerForm.controls['password'].errors
              && registerForm.controls['password'].errors!['noCapitalLetter']) ? 'text-danger' : 'text-success'">
          Capital letters
        </li>
        <li [ngClass]="!registerForm.value.password ||
            (registerForm.controls['password'].errors
              && registerForm.controls['password'].errors!['noSpecialSymbol']) ? 'text-danger' : 'text-success'">
          Special symbols
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="errorMessage" class="mb-3 text-danger text-center">
    <strong>{{ errorMessage }}</strong>
  </div>

  <button type="submit" class="btn btn-primary w-100 mt-2">Register</button>

</form>
