.tasks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.add-task {
  margin-bottom: 1rem;

  button {
    font-size: 24px;
    align-self: end;
    width: 100%;
  }

  .choice {
    margin-top: .5rem;

    .choice-items {
      display: flex;
      label {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .tasks {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;

    div {
      margin-bottom: 1rem;
    }
  }
}
