.no-right-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.no-left-border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.get-btn {
  height: 38px;
  width: 260px;
}
