.secondary-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1.5rem;

  .secondary-header-item {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    background: var(--gray-color);

    transition: 0.5s ease;

    &:hover {
      background: var(--yellow-color);
      color: var(--dark-color);
    }
  }

  .header-item-active {
    background: var(--yellow-color);
    color: var(--dark-color);
  }
}

@media (max-width: 467px) {
  .secondary-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
