<div class="container d-flex align-items-center justify-content-center flex-column">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="w-50 text-color-primary">

    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>

    <div class="mb-3">
      <label for="middleName" class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="middleName" formControlName="middleName">
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username">
      <div *ngIf="registerForm.controls['username']['invalid']
                  && (registerForm.controls['username']['dirty'] || registerForm.controls['username']['touched'])"
           class="text-danger mt-2">
        <div *ngIf="registerForm.controls['username'].errors?.['required']">
          Username cannot be empty
        </div>
        <div *ngIf="registerForm.controls['username'].errors?.['pattern']">
          Username can only contain english letters, numbers and underscores
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
      <div *ngIf="registerForm.controls['email']['invalid']
                  && (registerForm.controls['email']['dirty'] || registerForm.controls['email']['touched'])"
           class="text-danger mt-2">
        <div *ngIf="registerForm.controls['email'].errors?.['required']">
          Email cannot be empty
        </div>
        <div *ngIf="registerForm.controls['email'].errors?.['pattern']">
          Invalid email
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" minlength="8" id="password" formControlName="password">

      <div *ngIf="registerForm.controls['password']['invalid']
                  && (registerForm.controls['password']['dirty'] || registerForm.controls['password']['touched'])"
           class="text-danger mt-2">
        <div *ngIf="registerForm.controls['password'].errors?.['required']">
          Password cannot be empty
        </div>
        <div *ngIf="registerForm.controls['password'].errors?.['minlength']">
          Password min length is 8 symbols
        </div>
      </div>
    </div>

    <div *ngIf="errorMessage" class="mb-3 text-danger text-center">
      <strong>{{ errorMessage }}</strong>
    </div>

    <div class="text-center mt-3">
      <div>Already have an account?
        <a class="link" routerLink="/login">Login</a>
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-3 mb-3">SIGN UP</button>

  </form>

  <app-oauth2></app-oauth2>

</div>
