.image-upload {
  margin-top: 1.5rem;

  .folder-options {
    margin-bottom: .5rem;

    .form-check:first-child {
      margin-right: 1rem;
    }

    .file {
      margin-top: 1rem;
    }
  }

  .mr-0-5 {
    margin-right: .5rem;
  }
}
