.filter-form {
  display: flex;

  .end-date input {
    border-radius: 0;
  }

  .filter-btn {
    display: flex;
    align-items: end;

    button {
      height: 38px;
    }
  }
}

.no-right-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.no-left-border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.add-buttons {
  display: flex;
  align-items: end;

  button {
    height: 40px;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.match-item {
  padding: 10px;
  background: var(--gray-color);
  border-radius: 6px;
  margin-bottom: 10px;

  .match-item-main {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 10px;
    align-items: center;
  }

  .match-info {
    .match-participants {
      font-size: 18px;
      font-weight: 500;

      .win-probability {
        color: var(--light-gray-color);
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .match-stats {
    margin-top: 10px;

    .statistics-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .statistics-item {
        &:not(:last-child) {
          margin-right: 5px;
        }
        text-align: center;
        font-size: 18px;
        justify-content: space-between;
        align-items: center;

        .statistics-item-title {
          font-weight: 700;
        }
      }
    }

    .two-market-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
  }

  .match-markets {
    margin-top: 20px;

    .markets-legend {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      gap: 10px;
      margin-bottom: 10px;

      .legend-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        border-radius: 10px;
      }

      .legend-item:not(:last-child) {
        cursor: pointer;
        strong {
          margin-left: 5px;
        }
      }
    }

    .market-section {
      font-size: 16px;
      padding: 5px;
      border-radius: 6px;
      margin-bottom: 15px;

      .market-section-title {
        font-weight: 700;
        margin-bottom: 5px;
      }

      .market-pair {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        .market-pair-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 6px 10px;
          background: var(--dark-gray-color);
          border-radius: 3px;

          .pair-item-outcome {
            font-weight: 700;
          }

          .pair-item-bet-info {
            display: flex;
            text-align: center;
            justify-content: end;
            width: 90%;

            .bet-info-value {
              font-weight: 700;
            }

            .pair-item-bet-info-item:not(:last-child) {
              margin-right: 20px;
            }
          }

        }
      }
    }

    .save-reset-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
  }
}

.link {
  color: var(--white-color);
  text-decoration: none;
}

.text-light-gray {
  color: var(--light-gray-color);
}

.bg-win {
  background: var(--bs-success) !important;
}

.bg-cancelled {
  background: var(--light-gray-color) !important;
}

.bg-loss {
  background: var(--bs-danger) !important;
}

.cursor-pointer {
  cursor: pointer;
}
