<div class="level-overview d-flex flex-column justify-content-center">

  <div class="level-swiper d-flex justify-content-between align-items-center">

    <div class="swap-left swap-btn"
         [class.swap-disable]="displayLevel === 1"
         (click)="changeLevel(displayLevel - 1)">
    </div>

    <div class="level-info text-center">
      <div class="level-bg" [style.background]="levelColor"></div>
      <div class="level-name">{{levelName}}</div>
      <div class="level-value">{{levelInfo}}</div>
    </div>

    <div class="swap-right swap-btn"
         [class.swap-disable]="displayLevel === 10"
         (click)="changeLevel(displayLevel + 1)"
    ></div>

  </div>

  <div *ngIf="progress" class="level-progress d-flex justify-content-center mt-2">
    <app-progress [value]="progress" [width]="'4em'" [height]="'0.2em'"></app-progress>
  </div>
</div>
