<div class="bet-info-wrapper" (click)="$event.stopPropagation()">
  <div class="balance justify-content-between align-items-center">
    <div>Balance</div>
    <div>{{ formattedBalance }}</div>
  </div>

  <div class="bet-info-main">

    <div class="bet-info">
      <div class="bet-info-options">
        <div class="option1 text-center">
          Bet Slip
        </div>
        <div (click)="showBetHistory()" class="option2 text-center">
          My bets
        </div>
      </div>

      <div class="bet-info-popup" (click)="togglePopup()">
        <div class="popup-text">Bet Slip</div>
        <div class="popup-icon" [class.popup-icon-close]="opened"></div>
        <div *ngIf="selectedMarket" class="popup-pending-bets">1</div>
        <div></div>
      </div>

      <ng-container *ngIf="marketInfo === null; else betContent">
        <div class="empty-bet-content" [class.hidden]="!opened">
          Choose the odds and <strong>Just Bet It</strong>
        </div>
      </ng-container>

      <ng-template #betContent>

        <div class="bet-content" [class.hidden]="!opened">

          <div class="horizontal-divider"></div>

          <div class="bet-content-main">
            <div class="bin-icon" (click)="removeSelectedMarket()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M2.75 6.16667C2.75 5.70644 3.09538 5.33335 3.52143 5.33335L6.18567 5.3329C6.71502 5.31841 7.18202 4.95482 7.36214 4.41691C7.36688 4.40277 7.37232 4.38532 7.39185 4.32203L7.50665 3.94993C7.5769 3.72179 7.6381 3.52303 7.72375 3.34536C8.06209 2.64349 8.68808 2.1561 9.41147 2.03132C9.59457 1.99973 9.78848 1.99987 10.0111 2.00002H13.4891C13.7117 1.99987 13.9056 1.99973 14.0887 2.03132C14.8121 2.1561 15.4381 2.64349 15.7764 3.34536C15.8621 3.52303 15.9233 3.72179 15.9935 3.94993L16.1083 4.32203C16.1279 4.38532 16.1333 4.40277 16.138 4.41691C16.3182 4.95482 16.8778 5.31886 17.4071 5.33335H19.9786C20.4046 5.33335 20.75 5.70644 20.75 6.16667C20.75 6.62691 20.4046 7 19.9786 7H3.52143C3.09538 7 2.75 6.62691 2.75 6.16667Z"
                  fill="#fff"/>
                <path
                  d="M11.6068 21.9998H12.3937C15.1012 21.9998 16.4549 21.9998 17.3351 21.1366C18.2153 20.2734 18.3054 18.8575 18.4855 16.0256L18.745 11.945C18.8427 10.4085 18.8916 9.6402 18.45 9.15335C18.0084 8.6665 17.2628 8.6665 15.7714 8.6665H8.22905C6.73771 8.6665 5.99204 8.6665 5.55047 9.15335C5.10891 9.6402 5.15777 10.4085 5.25549 11.945L5.515 16.0256C5.6951 18.8575 5.78515 20.2734 6.66534 21.1366C7.54553 21.9998 8.89927 21.9998 11.6068 21.9998Z"
                  fill="#fff"/>
              </svg>
            </div>

            <div class="match-participants">{{ marketInfo!.participantsText }}</div>
            <div class="market-info d-flex align-items-center">
              <img [ngSrc]="marketInfo!.image" width="36" height="36" alt="">
              <div>
                <div class="market-outcome">{{ marketInfo!.outcome }}</div>
                <div class="market-description">{{ marketInfo!.description }}</div>
              </div>
            </div>

            <div class="bet-input-row">

              <div class="bet-input">
                <label>Bet amount</label>
                <input [(ngModel)]="betAmount" type='number' placeholder="Min 0.1"
                       (ngModelChange)="onBetAmountChange($event)">

                <div class="bet-input-options">
                  <div class="bet-input-option" (click)="selectBetAmount(0.1)">10%</div>
                  <div class="bet-input-option" (click)="selectBetAmount(0.5)">50%</div>
                  <div class="bet-input-option" (click)="selectBetAmount(1.0)">Max</div>
                </div>

              </div>

              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
                <path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z"/>
              </svg>

              <strong class="bet-input-odds">
                {{ selectedMarket!.market.odds }}
              </strong>

            </div>

          </div>

          <div *ngIf="betErrorMessage" class="bet-error-message">
            {{ betErrorMessage }}
          </div>

          <div class="bet-content-bottom">

            <div class="d-flex align-items-center justify-content-between">

              <div class="accept-odds-changes d-flex align-items-center">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="acceptOddsChanges">
                  <span class="slider"></span>
                </label>
                <div class="d-flex flex-column">
                  <span>Accept all odds</span>
                  <span>changes</span>
                </div>
              </div>

              <div class="possible-win">
                <div class="possible-win-text">Possible win:</div>
                <div class="possible-win-amount">{{ possibleWin }}</div>
              </div>

            </div>

            <button class="place-bet-btn btn btn-primary-no-hover"
                    [class.btn-disabled]="betAmount < 0.1 || betButtonState !== 0"
                    [class.animate-fill]="betButtonState > 0"
                    (click)="placeBet()">
              <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="betButtonState === 0">Place Bet</ng-container>

                <ng-container *ngSwitchCase="betButtonState === 1">
                  <section class="dots-container">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </section>
                </ng-container>

                <ng-container *ngIf="betButtonState === 2">&#10004; Done</ng-container>
              </ng-container>
            </button>
          </div>

        </div>

      </ng-template>

    </div>

  </div>
</div>

<div *ngIf="opened" class="dark-bg" (click)="togglePopup()"></div>
